[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "Opengl1/vendor/glm"]
	path = Opengl1/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Opengl1/vendor/imgui"]
	path = Opengl1/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Opengl1/vendor/assimp"]
	path = Opengl1/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Opengl1/vendor/PhysX"]
	path = Opengl1/vendor/PhysX
	url = https://github.com/SudharsanZen/PhysX.git
